body {
    background-color: rgb(42, 55, 68);
    display: flex;
    justify-content: center;
}

#calc-container {
    background-color: rgb(0, 0, 0);
    width: 430px;
    height: 685px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid slategray;
    border-radius: 30px;
}

#display {
    background-color: rgb(41, 66, 33);
    width: 370px;
    height: 100px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

    border-radius: 5px;
}

#expression {
    font-size: 50px;
    margin-right: 15px;
}

#answer {
    font-size: 30px;
    margin-right: 15px;
    color: rgb(252, 170, 170);
}


#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    /*border: 3px solid slateblue;*/
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin: 5px;

    background-color: rgb(39, 47, 54);
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 600;

    text-align: center;
    line-height: 85px;
}

#all-clear {
    background-color: rgb(69, 61, 121);
}

#clear {
    background-color: rgb(209, 146, 146);
    color: rgb(143, 64, 64);
}

#equals {
    background-color: rgb(69, 61, 121);
}

.button.operation {
    background-color: rgb(62, 76, 88);
}